@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700,800,italic);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.btn:hover {
  border: 1px solid #061e37;
  background-color: #ffffff;
  color: #061e37;
}

.btn.fw {
  width: 100%;
}

.btn-b {
  background-color: #061e37;
  font-family: 'Roboto';
  color: #ffffff;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 5px;
  border: 1px solid #061e37;
  display: block;
  padding: 20px;
  color: #061e37;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.input.focus {
  border: 1px solid #42baff;
}

textarea.input {
  resize: none;
  padding: 20px;
  width: 100%;
  min-width: 150px;
  margin: 0px 0px 20px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #061e37;
  font-size: 15px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check:before {
  content: '';
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #061e37;
  position: absolute;
}

.check.active:before {
  background: #061e37ad;
}

.project__title-head,
.services__title-head,
.team__title-head,
.contact__title-head {
  color: #061e37;
  font-weight: 600;
}

.project__title-subtitle {
  color: #b0bec5;
  font-weight: 600;
}

.project__title-text,
.services__title-text,
.team__title-subtitle {
  max-width: 555px;
  color: #b0bec5;
  font-size: 15px;
  line-height: 25px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.header {
  background: url(../img/header/bgHeader.jpg) 0 0/cover no-repeat;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 52px 0px 0px 0px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text {
  padding: 0px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 800;
}

.header__logo-text span {
  font-weight: 400;
}

.header__column-btn {
  padding: 0px 12px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__column-btn:hover {
  background: #ffffff;
  color: #061e37;
}

.header__content {
  padding: 171px 0px 185px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__content-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header__content-title {
  color: #ffffff;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}

.header__content-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
  margin: 0px 0px 38px 0px;
}

.header__content-btn {
  padding: 22px 29px;
}

.header__content-btn:hover {
  -webkit-box-shadow: 0 1px 5px #000000;
          box-shadow: 0 1px 5px #000000;
}

.header__content-btn:first-child {
  margin-right: 30px;
}

.header__content-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 0px 50px;
}

.header__content-vid {
  display: none;
  width: 100%;
  height: 320px;
}

.btn-b {
  padding: 22px 42px;
}

.header__contetn-video--preview {
  position: relative;
  border-radius: 5px;
  background: url(../img/header/bgVideoFon.jpg) 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 320px;
}

.header__contetn-video--preview-button {
  padding: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #061e37;
  margin: 0px 0px 22px 0px;
  z-index: 2;
}

.header__contetn-video--preview-text {
  color: #061e37;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

.header__contetn-video--preview-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0, 9;
}

.navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__block li {
  margin: 0px 50px 0px 0px;
}

.navigation__block li:last-child {
  margin: 0px 0px 0px 0px;
}

.navigation__block-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navigation__block-link:hover {
  color: #061e37;
}

.header-menu__icon {
  display: none;
}

.project__body {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__title {
  text-align: center;
  margin: 0px 0px 100px 0px;
}

.project__title-head {
  margin: 0px 0px 14px 0px;
}

.project__title-subtitle {
  margin: 0px 0px 20px 0px;
}

.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin: 0px 0px 78px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project__column-image {
  margin: 0px 0px 35px 0px;
}

.project__column-title {
  color: #061e37;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin: 0px 0px 20px 0px;
}

.project__column-text {
  color: #78909c;
  font-size: 15px;
  line-height: 20px;
}

.project__btn {
  background-color: #1de9b6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 22px;
}

.project__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stats__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0px;
}

.stats__column:first-child {
  background-color: #80d8ff;
}

.stats__column:nth-child(2) {
  background-color: #82b1ff;
}

.stats__column:nth-child(3) {
  background-color: #b388ff;
}

.stats__column:last-child {
  background-color: #ea80fc;
}

.stats__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 23px 0px 0px;
}

.stats__block {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}

.services__body {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  text-align: center;
  margin: 0px 0px 48px 0px;
}

.services__content {
  max-width: 800px;
}

.services__tabs-item {
  max-width: 800px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.services__tabs-item:hover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}

.services__tabs-item:last-child {
  margin: 0px 0px 0px 0px;
}

.services__navblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__navblock-image {
  margin: 0px 25px 0px 0px;
}

.services__navblock-text {
  color: #061e37;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.services__navblock-arrow {
  margin-left: auto;
  margin-right: 0em;
}

.services__itemblock {
  -webkit-transform: translate(0px, -60px);
      -ms-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.services__itemblock .services__itemblock-block {
  height: 0px;
}

.services__itemblock.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  margin: 25px 0px 0px 0px;
}

.services__itemblock.active .services__itemblock-block {
  height: auto;
}

.services__itemblock-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__itemblock-image {
  margin: 0px 25px 0px 0px;
}

.services__itemblock-description {
  color: #061e37;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.feedback {
  background: url(../img/feedback/bg.png) 0 0/cover no-repeat, url(../img/feedback/bgFon.jpg) 0 0/cover no-repeat;
}

.feedback__body {
  padding: 87px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding: 0px 50px 0px 0px;
}

.feedback__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  position: relative;
  text-align: center;
}

.feedback__title {
  color: #ffffff;
  font-weight: 600;
  margin: 0px 0px 19px 0px;
}

.feedback__subtitle {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  margin: 0px 0px 78px 0px;
}

.feedback__btn {
  padding: 23px;
  background-color: #061e37;
  color: #ffffff;
}

.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__block-image {
  margin: 0px 50px 0px 0px;
}

.feedback__block-text {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 30px;
}

.feedback__block-title {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 0px 0px 20px 0px;
}

.feedback__block-subtitle {
  color: #78909c;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.slider-button-prev {
  margin: 0px 0px 33px 0px;
}

.slider-button-next {
  margin: 33px 0px 0px 0px;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.team__title {
  margin: 0px 0px 90px 0px;
  text-align: center;
}

.team__title-head {
  margin: 0px 0px 25px 0px;
}

.team__social {
  text-align: center;
}

.social {
  margin: 0px 0px 100px 0px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list li {
  margin: 0px 30px 0px 0px;
}

.social__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.team__tabs {
  max-width: 650px;
}

.team__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 50px 0px;
}

.team__navitem {
  opacity: 0.2;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  padding: 0px 0px;
  -webkit-transition: 0.5s ease-in-out 0s;
  -o-transition: 0.5s ease-in-out 0s;
  transition: 0.5s ease-in-out 0s;
}

.team__navitem img {
  width: 140px;
  height: 140px;
}

.team__navitem.active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.team__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__item {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-200%, 0px);
      -ms-transform: translate(-200%, 0px);
          transform: translate(-200%, 0px);
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out 0s;
  -o-transition: 0.5s ease-in-out 0s;
  transition: 0.5s ease-in-out 0s;
}

.team__item.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.team__item-title {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.team__item-text {
  color: #90a4ae;
  font-size: 15px;
  line-height: 25px;
  margin: 0px 0px 30px 0px;
}

.contact {
  margin: 170px 0px 0px 0px;
  background: #fafafa;
}

.contact__body {
  padding: 50px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  text-align: center;
  max-width: 600px;
}

.contact__title-head {
  margin: 20px;
}

.contact__title-subtitle {
  color: #061e37;
  font-size: 15px;
  line-height: 25px;
  margin: 0px 0px 40px 0px;
}

.contact__form {
  max-width: 600px;
}

.contact__form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__form-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46.67%;
          flex: 0 0 46.67%;
  margin: 0px 6.66% 20px 0px;
}

.contact__form-input:nth-child(even) {
  margin: 0px 0px 20px 0px;
}

.contact__btn {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #1de9b6;
  padding: 20px 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact__submitblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #061e37;
  padding: 100px 0px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 50px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-navigation__block li {
  margin: 0px 50px 0px 0px;
}

.footer-navigation__block li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__link:hover {
  color: #ffffff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom-column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-aboutlink {
  cursor: pointer;
  opacity: 0.5;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
}

.footer__bottom-aboutlink::after {
  content: ' ';
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 19px 2px;
  z-index: 288;
  display: inline-block;
}

.footer__bottom-aboutlink:hover {
  opacity: 1;
}

.footer__social {
  margin: 0px;
}

@media (min-width: 767px) {
  .project__title-head,
  .services__title-head,
  .team__title-head,
  .contact__title-head {
    font-size: calc(30px + 15 * (100vw / 1600));
  }

  .project__title-subtitle {
    font-size: calc(20px + 5 * (100vw / 1600));
  }

  .header__content-title {
    font-size: calc(30px + 25 * (100vw / 1600));
  }

  .feedback__title {
    font-size: calc(25px + 20 * (100vw / 1600));
  }
}

@media (max-width: 1452px) {
  .container {
    max-width: 970px;
  }

  .header__content-vid {
    height: 250px;
  }

  .header__contetn-video--preview {
    height: 250px;
  }

  .swiper-container {
    height: 550px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__content {
    padding: 85px 0px 90px;
  }

  .header__content-column:first-child {
    text-align: center;
  }

  .header__content-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .header__content-video {
    padding: 0px 10px;
  }

  .header__content-vid {
    margin-top: 70px;
  }

  .header__contetn-video--preview {
    margin-top: 70px;
  }

  .project__body {
    padding: 75px 0px;
  }

  .project__title {
    margin: 0px 0px 60px 0px;
  }

  .stats__column {
    padding: 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stats__image {
    margin: 0px 0px 10px 0px;
  }

  .stats__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
  }

  .swiper-container {
    height: 650px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header__column-btn {
    margin: 0px 40px 0px 0px;
  }

  .navigation__block li {
    border-radius: 2px;
    padding: 7px 25px;
    margin: 0px 0px 20px 0px;
  }

  .navigation__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navigation__block-link {
    color: #061e37;
  }

  .header-menu__icon {
    z-index: 999;
    display: block;
    position: absolute;
    top: 57px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .header-menu__icon span:first-child {
    top: 0px;
  }

  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header-menu__icon.active span {
    background-color: #061e37;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .header-menu__icon.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .header-menu__icon.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    right: -120%;
    top: 0;
    background-color: #fff;
    padding: 65px 10px 0px 20px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header-menu.active {
    right: 0;
  }

  .project__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .stats__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .services__body {
    padding: 50px 0px;
  }

  .services__itemblock-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
  }

  .feedback__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .feedback__subtitle {
    margin: 0px 0px 18px 0px;
  }

  .swiper-container {
    height: 220px;
  }

  .team__body {
    padding: 50px 0px;
  }

  .team__title {
    margin: 0px 0px 30px 0px;
  }

  .social {
    margin: 0px 0px 50px 0px;
  }

  .contact {
    margin: 230px 0px 0px 0px;
  }

  .contact__form-input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__column:first-child {
    margin: 0px 0px 20px 0px;
  }

  .footer-navigation__block li {
    margin: 0px 10px 0px 0px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__bottom-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__bottom-column:first-child {
    margin: 0px 0px 20px 0px;
  }

  .footer__bottom-aboutlink::after {
    margin: 0px 9px 2px;
  }

  .footer__social {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .project__title-head,
  .services__title-head,
  .team__title-head,
  .contact__title-head {
    font-size: calc(30px + 25.5 * ((100vw - 320px) / 1600));
  }

  .project__title-subtitle {
    font-size: calc(20px + 8.5 * ((100vw - 320px) / 1600));
  }

  .header__content-title {
    font-size: calc(30px + 42.5 * ((100vw - 320px) / 1600));
  }

  .feedback__title {
    font-size: calc(25px + 34 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 479.98px) {
  .header__content-title {
    line-height: 30px;
  }

  .header__content-subtitle {
    line-height: 24px;
  }

  .header__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__content-btn:first-child {
    margin: 0px 0px 20px 0px;
  }

  .header__content-vid {
    height: 155px;
  }

  .header__contetn-video--preview {
    height: 155px;
  }

  .stats__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__itemblock-image img {
    width: 100%;
  }

  .services__itemblock-description {
    font-size: 12px;
  }

  .feedback__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback__block-image {
    margin: 0px 0px 0px 0px;
  }

  .swiper-container {
    height: 350px;
  }

  .team__navitem img {
    width: 100px;
    height: 100px;
  }

  .team__item-text {
    max-width: 350px;
  }
}

.webp .header{ background: url(../img/header/bgHeader.webp) 0 0/cover no-repeat; }

.webp .header__contetn-video--preview{ background: url(../img/header/bgVideoFon.webp) 0 0/100% 100% no-repeat; }

.webp .feedback{ background: url(../img/feedback/bg.webp) 0 0/cover no-repeat, url(../img/feedback/bgFon.webp) 0 0/cover no-repeat; }